* {
	text-align: center;
}
body{
	background: url(https://image.freepik.com/free-photo/top-view-of-bowl-with-lentils-and-variety-of-condiments_1220-423.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.jumbotron {
	background-color: rgba(171, 181, 211, 0.34);
	        padding-right: 15px;
   		    padding-left: 15px;
            border-radius: 87px;

}

.led {

	margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: red;
}

.footer{

	color: rgba(33, 130, 194, 0.91);
}
